

body{
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#000000;
    }
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: clamp(2rem, 2.8vw, 5rem);
  font-family: Raleway;
  font-weight: bold;
}




.typewriter {
    color: #0f0f0f;
    text-shadow: -1px -1px 3px #020202,
      2px 2px 4px #2DC6C5;
	width: 21.5ch;
	white-space: nowrap;
	overflow: hidden;
	margin: 0 auto;
	font-family: cursive;
	font-size:50px;
	border-right: 4px solid #212121;
	animation: cursor 1s step-start infinite,
    text 5s steps(18) alternate infinite;
}
.rowdiv
{
    background-color:black;
    box-shadow: 0px 1px 2px 0px rgba(0,255,255,0.7),
            1px 2px 4px 0px rgba(0,255,255,0.7),
            2px 4px 8px 0px rgba(0,255,255,0.7),
            2px 4px 16px 0px rgba(0,255,255,0.7);

}
.output{
    margin: 0 auto;
}

.output::-webkit-scrollbar {
    width: 12px;
  }
  .output::-webkit-scrollbar-track {
    background: 0px 1px 2px 0px rgba(0,255,255,0.7),
            1px 2px 4px 0px rgba(0,255,255,0.7),
            2px 4px 8px 0px rgba(0,255,255,0.7),
            2px 4px 16px 0px rgba(0,255,255,0.7);
  }


  .output::-webkit-scrollbar-thumb {
    background-color: trgb(129, 129, 131);

  }



.textarea{
    width: 500px;
    outline:none;
    height:300px;
    max-height:300px;

}



.output{
    width: 500px;
    outline:none;

}


@keyframes cursor {
	0%, 100% {
    border-color: #212121;
  }
}

@keyframes text {
	0% {
    width: 0;
  }
	100% {
    width: 15ch;
  }
}